@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Cairo&family=Faster+One&family=Inter:wght@300&family=JetBrains+Mono:wght@100&family=Joan&family=Kdam+Thmor+Pro&family=Keania+One&family=Kumar+One&family=Major+Mono+Display&display=swap');
.pic {
    margin-left: -9.3vw;
    margin-top: -3.4vw;
    cursor: pointer;
}

.header {
    position: center;
    background-size: 17vw;

}

.a5 {
    flex-grow: 1;
    border: 3px solid rgba(8, 8, 8, 0.2);
    flex: 33, 33%;
    max-width: 33, 33;
    padding: 0 7px;
    font-family: 'Orbitron', sans-serif;
    font-size: 10vw;
    position: absolute;
    width: 19.72222222222222vw;
    height: 22.15277777777778vw;
    left: 11.458333333333334vw;
    top: 33.81944444444444vw;
    background: rgba(135, 135, 135, 0.22);

}

.a6 {
    flex-grow: 1;
    border: 3px solid rgba(8, 8, 8, 0.2);
    flex: 33, 33%;
    max-width: 33, 33;
    padding: 0 4px;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    font-size: 10vw;
    position: absolute;
    width: 19.72222222222222vw;
    height: 22.15277777777778vw;
    left: 41.388888888888886vw;
    top: 33.81944444444444vw;
    background: #FCEDED;
    font-weight: bold;


}

.a7 {
    flex-grow: 1;
    border: 3px solid rgba(8, 8, 8, 0.2);
    flex: 33, 33%;
    max-width: 33, 33;
    padding: 0 4px;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    font-size: 10vw;
    position: absolute;
    width: 19.72222222222222vw;
    height: 22.15277777777778vw;
    left: 73.26388888888889vw;
    top: 33.81944444444444vw;
    background: #E6FFFF;
}

button {
    position: relative;
    appearance: auto;
    font-size: 3vw;
    font-family: 'Major Mono Display', monospace;
    text-rendering: auto;
    color: rgb(0, 0, 0);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    box-sizing: border-box;
    background-color: transparent;
    margin-top: 5vw;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-width: 0;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    /* text-decoration: underline; */
}

body {
    /* --def: #96B7C4; 	
--inv: #fff; */
    height: 100vh;
    width: 100%;
    background-color: #fcfcfc;
}

.button:hover {
    color: rgb(252, 14, 14);
    transition-delay: .5s;
}

.button:hover:before {
    transition-delay: 0s;
    background-color: red;
}

.button:hover:after {
    background-color: red;
    transition-delay: .35s;
    color: white;
}


/* @media screen and (max-width: 992px) {
.column {
width: 50%;
}
}
@media screen and (max-width: 600px) {
.column {
width: 100%;
}
}     */

@media screen and (min-width: 600px) {
    .element {
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    .element>* {
        -webkit-flex: 1;
        flex: 1;
    }
    aside {
        -webkit-order: -1;
        order: -1;
    }
    article>div {
        -webkit-flex: 3;
        flex: 3;
    }
    /* @media screen and (max-width: 600px){
.element  {
-webkit-flex-direction: column;
flex-direction: column;
} */
    @media (min-width: 700px) {
        .pic {
            display: flex;
            flex-direction: column;
        }
    }
    @media (min-width: 700px) {
        .a1 {
            display: flex;
            flex-direction: column;
        }
        @media (min-width: 500px) {
            .h1 {
                display: flex;
                flex-direction: column;
            }
            @media (max-width: 500px) {
                .grid {
                    grid-template-areas: /* 'h1' */
                    'pic' 'a1' 'a2' 'a3' 'a4' 'a5' 'a6'
                }
            }
            @media (max-width: 500px) {
                .grid {
                    grid-template-areas: 'h1';
                    font-size: 10px;
                }
            }
            .h1 {
                font-size: 10vw;
            }
        }
    }
}

.a5 .a6 .a7 {
    cursor: pointer;
}

.element {
    display: flex;
    flex: auto;
    /* flex-flow: row wrap; */
    align-items: stretch;
    justify-content: space-around;
    /* display: block; */
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5vw;
}

.item20 {
    margin-top: 16vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    font-size: 1.5vw;
}

.link1 {
    grid-area: 1 / 3/ span 1 / span 3;
    font-size: 1.5vw;
    margin-left: -1vw;
}

.link3 {
    grid-area: 1 / 2/ span 1 / span 1;
    font-size: 1.5vw;
    margin-left: -30vw;
}